<!-- <h1>HELLO WORLD!</h1> -->
<!-- <app-rooms></app-rooms> -->
<!-- <app-employee></app-employee> -->

<!-- <app-container>
  <app-rooms></app-rooms>
  <app-employee></app-employee>
  <h1>This is from container ng-content</h1>
</app-container> -->

<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'admin'">
      Welcome Admin
      <app-rooms></app-rooms>
    </div>
    <div *ngSwitchCase="'user'">Welcome User</div>
    <div *ngSwitchDefault>Welcome Guest</div>
</div> -->

<!-- <div #name></div> -->

<!-- NG Template, elemen khusus dalam Angular yang digunakan untuk mendefinisikan template yang tidak langsung dirender di DOM. Template ini hanya akan dirender saat dibutuhkan, misalnya dengan direktif seperti *ngIf, ngFor, atau menggunakan ViewContainerRef  -->
 <!-- #user adalah template reference -->
 <!-- <div>
  <ng-template #user></ng-template>
 </div> -->

<!-- Jika pake href, nanti reload ke halaman baru, bukan SPA -->
<!-- Single Page Application, pake routerLink -->
  <!-- <a routerLink="/rooms">Rooms</a>
  <a routerLink="/employee">Employee</a> -->

 <app-app-nav></app-app-nav>

 <!-- Ini wajib, karena tanpa router outlet, gabisa return ke halaman yang dituju -->
  <!-- <router-outlet></router-outlet>  -->
